.DS_Store
node_modules
/files
/package
.env
.env.*
!.env.example
examples/**
build
/src/*.js
/src/*.d.ts
/index.js
/index.d.ts
.svelte-kit

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb
